<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
</head>
<body>

<div class="container">
  <h2>Modify Event Form</h2>
  <form method="POST">
    <div class="form-group">
      <label for="eventName">Event Name :</label>
      <input type="text" class="form-control" id="eventName" placeholder="eventName" name="eventName" value="<%=modify[0].eventName%>">
    </div>
    <div class="form-group">
      <label for="description">Description :</label>
      <input type="text" class="form-control" id="description"  name="description" value="<%=modify[0].description%>">
    </div>
    <div class="form-group">
      <label for="categoryId">Category Id :</label>
      <input type="text" class="form-control" id="categoryId"  name="categoryId" value="<%=modify[0].categoryId%>">
    </div>
    <div class="form-group">
      <label for="goalAmount">Goal Amount :</label>
      <input type="text" class="form-control" id="goalAmount"  name="goalAmount" value="<%=modify[0].goalAmount%>">
    </div>
    <div class="form-group">
      <label for="goalDate">Goal Date :</label>
       <%=modify[0].goalDate%>"
      <input type="date" id="goalDate" name="goalDate">
    </div>
   
    <button type="submit" name="modify" class="btn btn-primary">Modify</button>
  </form>
</div>
