<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      th {
        background-color: #4caf50;
        color: white;
        text-align: center;
      }
      tr:hover {
        background-color: #add8e6;
      }
    </style>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Moderator Home</title>
  </head>
  <body>
    <div
      class="w3-sidebar w3-bar-block w3-light-grey w3-card"
      style="width: 130px"
    >
      <h5 class="w3-bar-item">Menu</h5>
      <button
        class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'Profile')"
        id="defaultOpen"
      >
        Profile
      </button>
      <button
        class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'Events')"
      >
        Events
      </button>

      <button
        class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'Contact')"
      >
        Contact
      </button>
      <button
        class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'Reports')"
      >
        Reports
      </button>
    </div>
    <div style="margin-left: 130px">
      <div class="w3-container tab" id="Events" style="display: none">
        <h2 style="text-align: center; background-color: #4caf50">
          Moderator Panel
        </h2>

        <h2 style="text-align: center">Events</h2>

        <a href="/home">Back</a> |
        <div><a href="/logout">logout</a></div>
        <br />

        <table border="1">
          <tr>
            <th>Id</th>
            <th>Event Name</th>
            <th>Creator Id</th>
            <th>Description</th>
            <th>Goal Amount</th>
            <th>Goal Date</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Action</th>
          </tr>

          <% for(var i=0; i< EventList.length; i++ ){ %>
          <tr>
            <td><%= EventList[i].id %></td>
            <td><%= EventList[i].eventName %></td>
            <td><%= EventList[i].creatorId %></td>
            <td><%= EventList[i].description %></td>
            <td><%= EventList[i].goalAmount %></td>
            <td><%= EventList[i].goalDate %></td>
            <td><%= EventList[i].isApproved %></td>
            <td><%= EventList[i].createdAt %></td>
            <td>
              <% if(EventList[i].isApproved==0 ){ %>
              <a href="/moderator/approve/<%=EventList[i].id%>">Approve</a>
              <a href="/moderator/decline/<%=EventList[i].id%>">Decline</a>
              <a href="/moderator/modify/<%=EventList[i].id%>">Modify</a>
              <% } else { %>

              <a href="/moderator/modify/<%=EventList[i].id%>">Modify</a>
              <% } %>
            </td>
          </tr>
          <% } %>
        </table>
      </div>
      <div class="w3-container tab" id="Profile" style="display: none">
        <h2>Moderator Panel</h2>
      </div>
      <div class="w3-container tab" id="Contact" style="display: none">
        <h2>Contact</h2>
      </div>

      <div class="w3-container tab" id="Reports" style="display: none">
        <h2>Reports</h2>
      </div>
    </div>
  </body>

  <script>
    function openTab(evt, TabName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("tab");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
      for (i = 0; i < x.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" w3-green", "");
      }
      document.getElementById(TabName).style.display = "block";
      evt.currentTarget.className += " w3-green";
    }
    document.getElementById("defaultOpen").click();
  </script>
</html>
