<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/abc/css/user.css">
  <style type="text/css">
    *{
      font-size: 20px;
      font-family: "Times New Roman", Times, serif; 
    }
  </style>
  
</head>
<body>

<div class="container">
  <h2>Edit Event Form</h2>
  <form method="post">
    <div class="form-group">
      <label for="eventName">Event Name:</label>
      <input type="text" class="form-control" id="eventName" name="eventName" value="<%=editlist[0].eventName%>">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" id="description"  name="description" value="<%=editlist[0].description%>">
    </div>
    <div class="form-group">
      <label for="categoryId">Category Id:</label>
      <input type="text" class="form-control" id="categoryId"  name="categoryId" value="<%=editlist[0].categoryId%>">
    </div>
    <div class="form-group">
      <label for="goalAmount">Goal Amount:</label>
      <input type="text" class="form-control" id="goalAmount"  name="goalAmount" value="<%=editlist[0].goalAmount%>">
    </div>
    <div class="form-group">
      <label for="goalDate">Goal Date:</label>
      <input type="text" class="form-control" id="goalDate"  name="goalDate" value="<%=editlist[0].goalDate%>">
    </div>
    <div class="form-group">
      <label for="Picture">Picture:</label>
      <input type="file" class="picture" id="eventPicture"  name="eventPicture">
    </div>
    <input type="submit" name="submit" class="btn btn-success" value="Confirm">
    <a href="/user/myEvent" class="btn btn-success">Back</a>
  </form>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>