<!DOCTYPE html>
<html>
<title>Event Donation</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/abc/css/userSupport.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<section>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Get Funded</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>
</section>
<section>
<div class="sidebar">
  <a href="/userSupport" class="w3-bar-item w3-button">Home</a>
  <a href="/userSupport/allUser" class="w3-bar-item w3-button">Users</a>
  <a style="background-color: lightgray"href="/userSupport/viewEvents" class="w3-bar-item w3-button">Events</a>
  <a href="/userSupport/message" class="w3-bar-item w3-button">Message</a>
  <a href="/userSupport/myProfile" class="w3-bar-item w3-button">My Profile</a>
  <a style="color: red" href="/logout" class="w3-bar-item w3-button">logout</a>
</div>
<div style="margin-left:15%">
  <div class="w3-container">
	    <div class="container">
	    <form method="post">
		    <table class="table table-hover">
			  <tr>
			    <th width="15%">id</th>
			    <th>Amount</th>
			    <th>DonorId</th>
			    <th>Donation Message</th>
			    <th>CreatedAt</th>
			  </tr>
			  <% for(var i=0; i< donationlist.length; i++ ){ %>
			  <tr>
				<td><%= donationlist[i].id %></td>
				<td><%= donationlist[i].amount %></td>
				<td><%= donationlist[i].donorId %></td>
				<td><%= donationlist[i].donationMessage %></td>
				<td><%= donationlist[i].createdAt.toDateString() %></td>
			  </tr>
			  <% } %>
			  <tr>
			  	<td><input class="form-control" type="text" placeholder="Amount" name="amount" required /></td>
			  	<td colspan="3"><input class="form-control" type="text" placeholder="Donation Message" name="donationMessage" required>
			  	</td>
			  	<td>
			  	<input type="submit" name="donate" class="btn btn-dark" value="Donate">
			  	</td>

			  </tr>
			</table>
		</form>
		</div>
	</div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>