<!DOCTYPE html>
<html>
<title>Message Box</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/abc/css/userSupport.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="jquery-3.5.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<section>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Get Funded</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
  </form>
</nav>
</section>
<section>
<div class="sidebar">
  <a href="/userSupport" class="w3-bar-item w3-button">Home</a>
  <a href="/userSupport/allUser" class="w3-bar-item w3-button">Users</a>
  <a href="/userSupport/viewEvents" class="w3-bar-item w3-button">Events</a>
  <a style="background-color: lightgray" href="/userSupport/message" class="w3-bar-item w3-button">Message</a>
  <a href="/userSupport/myProfile" class="w3-bar-item w3-button">My Profile</a>
  <a style="color: red" href="/logout" class="w3-bar-item w3-button">logout</a>
</div>
<div style="margin-left:15%">
  <div class="w3-container">
	    <div class="container">
      <form method="post">    
			<table class="table table-hover" id="events">
			  <tr>
			    <th>CreatedAt</th>
			    <th>SenderId</th>
			    <th>MessageText</th>
          <th>Action</th>
			  </tr>

			  <% for(var i=0; i< messagelist.length; i++ ){ %>
			  <tr id="rows">
			  	<td width="320px"><%= messagelist[i].createdAt %></td>
			  	<td><%= messagelist[i].senderId %></td>
			  	<td><%= messagelist[i].messageText %></td>
          <td>
            <a class="btn btn-danger" href="/userSupport/deleteMessage/<%=messagelist[i].id%>">Delete</a>
            <a class="btn btn-info" href="/userSupport/pinMessage/<%=messagelist[i].id%>">Pin</a>
          </td>
			  </tr>
			  <% } %>
        <tr>
          <td colspan="3"><input class="form-control" type="text" name="messageText"></td>
          <td><input class="btn btn-info" type="submit" name="submit" value="Send..."></td>
        </tr>

			</table>
      </form>
		</div>
	</div>
</section>
<script>
  $(document).ready(function(){
       $('#search').keyup(function(){
            search_table($(this).val());
       });
       function search_table(value){
            $('#events #rows').each(function(){
                 var found = 'false'; 

                 $(this).each(function(){
                      if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                      {
                           found = 'true';
                      }
                 });
                 if(found == 'true')
                 {
                      $(this).show();
                 }
                 else
                 {
                      $(this).hide();
                 }
            });
       }
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
