<!DOCTYPE html>
<html>
<title>User Events</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/abc/css/userSupport.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<section>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Get Funded</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
</nav>
</section>
<section>
<div class="sidebar">
  <a href="/userSupport" class="w3-bar-item w3-button">Home</a>
  <a style="background-color: lightgray" href="/userSupport/allUser" class="w3-bar-item w3-button">Users</a>
  <a href="/userSupport/viewEvents" class="w3-bar-item w3-button">Events</a>
  <a href="/userSupport/message" class="w3-bar-item w3-button">Message</a>
  <a href="/userSupport/myProfile" class="w3-bar-item w3-button">My Profile</a>
  <a style="color: red"  href="/logout" class="w3-bar-item w3-button">logout</a>
</div>
<div style="margin-left:15%">
  <div class="w3-container">
	    <div class="container">    
			<table class="table table-hover">
			  <% for(var i=0; i< userEventlist.length; i++ ){ %>
			  <tr>
			  	<td rowspan="3" width="250px" height="150px"><img height="150px" width="250px" src="/abc/img/<%= userEventlist[i].eventPicture %>"></td>
			  	<td colspan="2"><%= userEventlist[i].description %></td>
			  </tr>
			  <tr>
			  	<td colspan="2">Name:<%= userEventlist[i].eventName %></td>
			  </tr>
			  <tr>
			  	<td>Amount:<%= userEventlist[i].goalAmount %></td>
			  	<td>Date:<%= userEventlist[i].goalDate.toDateString()%></td>
			  </tr>			  
			  <% } %>

			</table>
		</div>
		<a class="btn btn-info" href="/userSupport/allUser" style="float: right;">Back</a>
	</div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
